.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
	align-items: flex-start;
	flex: 1;
}

.image-wrapper {
	max-width: 960px;
	flex: 1;
	display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    
}
.image-container {
	background: $borders;
	border: 1px solid $borders;
	border-right: none;
	flex: 1;
	flex-grow: 1;
    flex-shrink: 0;
    min-width: 400px;
}
.details-container {
	border: 1px solid $borders;
	border-radius: 0 3px 3px 0;
	border-left: none;
	width: 300px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	background: white;
	align-items: stretch;
}

.image-details {
	height: 5.625rem;
	padding: 2.5% 0;
	border-bottom: 1px solid $borders;
	@include inlineBlockContain;
	img {
		width: 20%;
		margin: 2.5%;
		border-radius: 50%;
	}
	h3 {
		width: 70%;
		margin: 2.5%;
	}

}
