$red: 			rgb(251, 57, 88);
$yellow: 		rgb(255, 200, 56);
$green: 		rgb(109, 201, 147);
$blue: 			rgb(69, 142, 255);
$light-brown: 	rgb(222, 209, 193);
$dark-brown: 	rgb(155, 105, 84);
$dark-blue: 	rgb(18, 86, 136);
$light-grey: 	#f6f6f6;
$borders:		#EEE;